/* body {
  background-color: rgb(250, 250,250);
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image {
  width: 370px;
  margin-top: 50px;
}

@media only screen and (max-width: 770px) {
  .container {
    margin: 0 10%;
  }

  .image {
    width: 100%;
  }
} */




body{
  /* background-color:#CCCCFF; */
  background-image: url(https://img.pngio.com/fullscreen-web-background-wash-green-plumtree-fall-screen-backgrounds-png-1920_1080.png);
  }
  .header{
    height:100px;
    width:100%;
    background-color: rgb(61, 60, 60);
    line-height: 100px;
    text-align: center;
    color:rgb(34, 183, 221);
    margin:auto;
    padding:20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 3px;
    font-size: 20px;
  }
  .footer{
    background-color: rgb(167, 164, 164);
    width:100%;
    height:50px;
    color:black;
    text-align:center;
    line-height: 50px;
  }
  .container{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }
  .image{
      width: 370px;
      margin-top: 50px;
  }

  @media (max-width:770px){
      .container{
          margin: 0 10%;

      }
      image{
          width:100%;
      }
  }